.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 20px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a {
    text-decoration: none;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown.active .dropdown-menu {
    display: block;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-top: 15px;
    text-transform: uppercase;
    font-family: "Montserrat", Tahoma, Geneva, sans-serif;
}


    .pagination {
        text-align: center;
    }

    .pagination-list {
        list-style: none;
        display: inline-flex;
    }

    .pagination-item {
        margin: 0 5px;
    }

    .pagination-item a {
        display: block;
        padding: 7px 7px;
        background-color: #b6b6b6;
        color: #fff;
        text-decoration: none;
    }

    .pagination-item.active a {
        background-color: #0056b3;
    }

    .pagination-item.disabled a {
        pointer-events: none;
        background-color: #ccc;
    }

    .pagination-item a:hover {
        background-color: #0056b3;
    }


