/* CSS chung */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

.container {
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header h1 {
    text-align: center;
}

link[rel="icon"] {
    width: 100px;
    height: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end; /* Đưa danh sách menu về phía bên phải */
    /* background-color: #ecd4d4; */
    padding: 10px;
    align-items: center;
}

ul li {
    margin: 0 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-align: center;
    font-size: 26px; /* Đặt kích thước văn bản tại đây */
    flex: 1; /* Đặt flex: 1 để các mục trong danh sách menu chia đều không gian và chữ nằm giữa */
}


.images_show{
    width: 60%;
    display: flex;
}



.product-detail-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.product-detail-info {
    flex: 1;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    position: relative; /* Đặt vị trí là tương đối */
    top: -25px; /* Đặt top là giá trị âm để dịch lên trên */
}

.product-detail-info h2{
    text-transform: uppercase;
}

.product-detail-title-info{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.info-size,.info-quantity{
    width: 230px;
    display: flex;
    flex-direction: column;
}

.info-size select, .info-quantity select{
    height: 34px;
    line-height: 34px;
    padding-left: 15px;
    margin-top: 10px;
    border: 1px solid #cfcfcf;
    display: flex;
    flex-wrap: wrap;
}

.info-size label, .info-quantity label{
    font-size: 15px;
}

.product-detail-price {
    font-size: 18px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(181, 181, 181,0.5);
}

.product-detail-image{
    width: 100%;
}

/* Lớp CSS cho 4 hình ảnh nhỏ */
.additional-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.small-image {
    width: 105px;
    height: 105px;
    margin-bottom: 7px;
    margin-right: 20px;
    margin-top: 20px; /* Thêm margin-top để dịch ảnh xuống */
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.left-align {
    text-align: left;
}


/* CSS cho ảnh lớn */
#largeImage {
    margin-top: 20px;
    margin-right: 10px;
    max-width: 900px;
    max-height: 83.5vh;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out; /* Thêm transition cho opacity */
}


/* CSS cho modal */
/* CSS cho modal container */
#imageModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    overflow: auto; /* Thêm dòng này để cho phép cuộn nếu nội dung quá dài */
}


/* CSS cho modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* CSS cho nội dung modal */
.modal-content {
    display: block;
    margin: 0 auto; /* Căn giữa theo chiều ngang */
    max-width: 80%; /* Giới hạn chiều rộng của ảnh lớn */
    max-height: 80%; /* Giới hạn chiều cao của ảnh lớn */
}

/* CSS cho nút đóng modal */
.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* CSS cho ảnh modal */
#modalImage {
    max-height: 90%; 
    max-width: 90%; 
}

/* CSS cho icon đóng modal */
.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

/* CSS cho chữ trên ảnh lớn */
.product-detail-image h2,
.product-detail-image p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}



.product-detail-rating {
    padding: 20px;
    border-top: 1px solid #ccc;
    /* text-align: center; */
    text-align: left;
}

.star-rating {
    font-size: 24px;
}


.star {
    color: #ccc; /* Màu mặc định của sao */
    margin: 0 5px;
    cursor: pointer;
}

/* Đổi màu sao thành màu vàng khi được chọn */
.star.selected {
    color: gold;
}

.write-review-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}



.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.category-button {
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    padding: 8px;
    width: 150px;
    text-align: center;
    color:black;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-block;
    margin: 0 10px;
    border: 0px;
    position: relative; 
}

.category-button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0); /* Khởi đầu ẩn đi */
    transform-origin: right;
    transition: transform 0.2s, background-color 0.2s;
}

.category-button:hover::before {
    transform: scaleX(1); /* Khi hover, hiển thị dòng chạy */
    background-color: #dd4747;
}

link[rel="icon"] {
    width: 32px;
    height: 32px;
}

.buy-to-cart-button{
    font-weight: 300;
    height: 50px;
    background-color: white;
    color: #444;
    padding: 10px 20px;
    border: 1px solid #444;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: all ;
}

.buy-to-cart-button:hover{
    background-color: #444;
    color: white;
}

.add-to-cart-button {
    font-weight: 300;
    height: 50px;
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #444;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.add-to-cart-button:hover{
    background-color: white;
    color: #444;
    
}


.add-to-cart-button .cart-icon {
    color: white;
    position: absolute;
    left: -30px;
    top: 14px;
    transition: left 2s, top 2s;
}

.add-to-cart-button .text {
    display: block;
    transition: opacity 0.5s;
}

/* Đảm bảo rằng chiếc áo ẩn ban đầu */
.shirt-icon {
    position: absolute;
    left: 50%;
    top: -45px;
    font-size: 30px;
    transform: translateX(-50%); /* To center horizontally */
    /* background-image: url('images/icons8-clothes-50.png'); */
    background-size: cover;
    opacity: 1; /* Ensure it's fully visible */
    animation: carAnimation 2s ease-in-out;
    animation-fill-mode: forwards;
}
.policy_container{
    height: 100%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ship , .trade, .discount, .hotline{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ship h4 , .trade h4, .discount h4, .hotline h4{
    font-size: 13px;
}

.ship span , .trade span, .discount span, .hotline span{
    font-size: 13px;
}

.product_content{
    margin-top: 20px;
}  
.product_content h9{
    display: block;
    inline-size: auto;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(181, 181, 181,0.5) ;
}

.product_content p{
    margin: 5px 10px;
    font-size: 13px;
}

  
  @keyframes fallFromTop {
    0% {
      top: -60px;
    }
    100% {
      top: 100%;
    }
  }
  
  /* Đảm bảo rằng văn bản không bị thu nhỏ */
  .add-to-cart-button .text {
    display: block;
    transition: opacity 0.5s;
  }
  
