.container {
    display: flex;
    flex:1;
    flex-direction: column;

    height: 100vh; 
    background-color: #ffffff; 
}
ul{
    text-align: right;

}
li {
    position:relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin-right: 30px; 
}

header {
    text-align: center;
}

li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f10697;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
}

li:hover::before {
    transform: translateX(0);
    background-color: #dd4747;
}

li:hover {
    color: #dd4747;
}



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.category-button {
    justify-content: center;
    gap: 10px;
    background-color: transparent;
    padding: 8px;
    width: 150px;
    text-align: center;
    color:black;
    cursor: pointer;
    transition: background-color 0.2s;
    display: inline-block;
    margin: 0 10px;
    border: 0px;
    position: relative; 
}

.category-button::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transform: scaleX(0); /* Khởi đầu ẩn đi */
    transform-origin: right;
    transition: transform 0.2s, background-color 0.2s;
}

.category-button:hover::before {
    transform: scaleX(1); /* Khi hover, hiển thị dòng chạy */
    background-color: #dd4747;
}



.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7e7e7;
    padding: 10px 0;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a {
    text-decoration: none;
}

.dropdown:hover .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown.active .dropdown-menu {
    display: block;
}



.product {
    text-align: center;
    overflow: hidden;
    white-space: normal;
    width: 288px; 
    margin: 0 auto; 
    padding: 10px; 
    /* background-color :#dd4747; */
}

.product img {
    width: 288px;
    height: 384px;
    display: block;
    margin: 0 auto;
    /* max-width: 100%; 
    height: auto;  */
}

.product:hover {
    background-color: #ffffff;
    transform: scale(0.95);
}

.product p {
    text-align: left;
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    text-align: left;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product a {
    text-decoration: none;
    font-size:16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; 
}

/* .product-detail-container {
    text-align: center;
    margin-top: 20px;
}

.product-detail-image {
    max-width: 300px;
    margin: 0 auto;
}

.product-detail-price {
    font-weight: bold;
} */