.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

ul {
    text-align: right;
}

li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin-right: 30px;
}

header {
    text-align: center;
}






body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

link[rel="icon"] {
    width: 32px;
    height: 32px;
}

.filter{
    display: flex;
    margin: 10px 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.filter div{
    margin: 0 5px;
}

.filter div:nth-child(1){
    display: flex;
    align-items: center;
}

.filter div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 400px;
    border: 1px solid rgb(203, 203, 203);
    padding: 5px;
    box-sizing: border-box;
}

#sort2-value{
    margin-left: 10px;
}

.filter div:nth-child(1) label:nth-child(1){
    font-weight: bold;
    margin-right: 10px;
}

#sort1{
    height: 50px;
    width: 200px;
    padding: 0 30px;
    border-color: rgb(203, 203, 203);
}



.product {
    text-align: center;
    overflow: hidden;
    white-space: normal;
    width: 94%;
    margin: 0 auto;
    padding: 10px;
}

.product img {
    height: 384px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.product p {
    margin: 5px 0;
    font-weight: 600;
}

.product-price {
    font-weight: 400 !important;
}

.product-container {
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.color-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.color-option {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.2);
}


.centered {
    text-align: center;
    margin: 30px 0 10px;
}

.pagination-item a{
    margin-bottom: 25px;
    border-radius: 50px;
}

.prev-page a:hover,
.next-page a:hover{
    background-color: #444 ;
    transition: ease 0.3s;
}

.active a{
    background-color: #444 !important;
}

.active a:hover{
    background-color: rgb(223, 222, 222) !important;
    color: black;
    transition: ease 0.7s;
}



