.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}

ul {
    text-align: right;
}

li {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin-right: 30px;
}

header {
    text-align: center;
}

li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f10697;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
}

li:hover::before {
    transform: translateX(0);
    background-color: #dd4747;
}

li:hover {
    color: #dd4747;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

link[rel="icon"] {
    width: 32px;
    height: 32px;
}

.product {
    text-align: center;
    overflow: hidden;
    white-space: normal;
    width: 94%;
    margin: 0 auto;
    padding: 10px;
}

.product img {
    height: 384px;
    width: 100%;
    display: block;
    margin: 0 auto;
}

.product p {
    text-align: left;
    margin: 5px 0;
}

.product-price {
    font-weight: bold;
    text-align: left;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product a {
    text-decoration: none;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(74, 74, 74);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.color-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.color-option {
    width: 21px;
    height: 21px;
    margin-right: 10px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: transform 0.2s;
}

.color-option:hover {
    transform: scale(1.2);
}


.centered {
    text-align: center;
}
