/* Add styles for the container to center the content and add background color */
.container {
    display: flex;
    flex-direction: column;

    height: 100vh; /* 100% viewport height to center vertically */
    background-color: #f5f5f5; /* Background color for the container */
}
ul{
    text-align: right;

}
/* Move individual list items to the right */
li {
    position:relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    margin-right: 30px; /* Adjust the value as needed to move list items to the right */
}

header {
    text-align: center; /* Center-align the header text */
}

li::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #f10697;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 1s;
}

li:hover::before {
    transform: translateX(0);
    background-color: #dd4747;
}

li:hover {
    color: #dd4747;
}
